.mainbody{
    background-color: rgb(255, 200, 97);
    padding:1rem 12rem;
}
.form {

    border-radius: 20px;
    padding:20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.input{
    margin:10px;
    display:flex;
    flex-direction: column;
   
    padding: 10px;

}
.heading{
    color:white;
    text-align: center;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.button{
    cursor :pointer;
    background-color:orange;
    font-size: 23px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:5px solid #ffd280;
    border-radius: 18px;
    color:#ff143c;
    padding:20px;
    text-align: center;
    box-shadow: 0px 5px 3px #888888 ;
    
  }
  .button:active{
    box-shadow:  0px 2px 3px #888888;
    transform: translateY(4px) ;
  }

  .inp-field{
    padding: 12px;
    border-radius: 20px;
    border-radius: 1px solid black;
    
  }
 
  .navbar{

    align-items: center;
     
     background-color:rgb(255, 189, 66);
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     height: 90px;
 
 }
 .nav-left{
     padding-left: 1rem;
 }
 .nav-right{
     padding:0px 20px;
     width:10%;
     display:flex;
     flex-direction: row;
     justify-content: space-between;
 
 }
 
 .nav-utils{
     color: white;
   
 }
 
 .nav-search{
 
     padding:0px 20px;
     border: 1px solid orange;
     width: 370px;
     border-radius: 15px;
     height: 40px;
 }
 
 .butt{
     color: white;
     font-size: 0.9rem;
     background-color: rgb(37, 37, 255);
     border: 1px solid rgb(128, 128, 252);;
     border-radius: 12rem;
     padding: 20px;
 
 
 }
 .nav-right-but{
     width: 10%;
 }
 .dropdown-content {
    display: none;
  position: absolute;
  background-color: rgb(255, 224, 165);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;
color:rgb(255, 98, 98);}

  .nav-utils-books:hover .dropdown-content {
    display: block;
  
  }
  .nav-utils-books{
    color:white;
    text-decoration: none;
  }